* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: $color-white;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
body,
html {
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-white;
  color: #4f4f4f;
  font-size: 16px;
  direction: ltr;
}
body {
  img {
    max-width: 100%;
  }
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background-color: $color-main;
}
body::-webkit-scrollbar-thumb {
  background-color: #ffff;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}

