.offices {
  width: 95%;
  max-width: 1020px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
  gap: 2rem 1rem;
  padding: 2rem 1rem;
  margin: auto;
}
.office-card {
  position: relative;
  background-color: $color-main-light;
  transition: 250ms all;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  button {
    position: relative;
    float: right;
    align-self: flex-end;
  }
  p {
    text-align: center;
  }
}

